# os
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp

# server
*.log
error_log

# git
.gitconfig

# docker
.env

# WordMove
/Movefile*
*-backup-*.sql*
dump.sql*

# Composer
/composer.phar

# rbenv
.ruby-version

# WordPress
/.htaccess
/sitemap.xml
/sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backup*
wp-content/blogs.dir/
wp-content/cache/
wp-content/db.php
wp-content/object-cache.php
wp-content/themes/twenty*
wp-content/upgrade/
wp-content/uploads/
wp-content/w3tc-config/
wp-content/wp-cache-config.php

# WordPress theme
wp-content/themes/**/.editorconfig
wp-content/themes/**/.js*
wp-content/themes/**/.tmp
wp-content/themes/**/.sass-cache
wp-content/themes/**/dist
wp-content/themes/**/node_modules
